<footer>
  <section class="copyright">
    © {%if language == 'ru' %}<a href="/ru/">Иван Дианов{%else%}<a href="/">Ivan Dianov{% endif %}</a> 2021—2022 ·
    <a href='https://twitter.com/i_dianov'>Twitter</a>
    · <a href='https://objkt.com/profile/ivandianov/created'>Objkt</a>
    {%if language == 'ru' %}
      · <a href='https://t.me/ivandianov'>Канал в телеге</a>
    {% endif %}
    
  </section>
</footer>