<header>
  <div class="nav-menu">
    <div class="logo">
        {% if language == 'en' %}Ivan Dianov{% else %}Иван Дианов{% endif %}
    </div>
        {# RU/EN switch if translation exists #}
    {% set isPageOnAntiLangFound = false %}

    {% for page in search.pages() %}
      {% if language != page.data.language %}
      {% set that = page.src.path | lastPart %}
      {% set this = srcPath | lastPart %}
        {% if this == that %}
        {% set isPageOnAntiLangFound = true %}
      <a class="nav-item" href="{{ page.data.url }}">
        {{ language | antiLang | capitalize }}
      </a>
      {% endif %}
      {% endif %}
    {% endfor %}

    {# RU/EN switch if translation is not found #}
    {% if isPageOnAntiLangFound == false %}
      {% if language == 'en' %}
      <a class="nav-item" href="/ru">Ru</a>
      {% else %}
      <a class="nav-item" href="/">En</a>
      {% endif %}
    {% endif %}

    {% for page in search.pages('menu!=undefined','menu=desc') %}
      {% if language == page.data.language %}
        {% if page.data.url != url %}
        <a class="nav-item" href="{{ page.data.url }}">
          {{ page.data.title }}
        </a>
        {% else %}
        <a class="nav-item nav-item-active" href="{{ page.data.url }}">
          {{ page.data.title }}
        </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</header>