{% if language == 'en' %}
	{% if post.data.progress == 3 %}{% set title = "Readable" %}
	{% elif post.data.progress == 2 %}{% set title = "In progress" %}
	{% else %}{% set title = "Draft" %}
	{% endif %}
{% elif language == 'ru' %}
	{% if post.data.progress == 3 %}{% set title = "Читабельно" %}
	{% elif post.data.progress == 2 %}{% set title = "В процессе" %}
	{% else %}{% set title = "Черновик" %}
	{% endif %}
{% endif %}
{% set progress = post.data.progress %}
{% set angle = progress * 360 // 4 %}
<span class="progress" style="--progress: {{ angle }}deg;"></span> {{ title }}
