<footer>
  <section class="copyright">
    {%- if lang == 'ru' -%}
		© <a href="/">Иван Дианов</a> 2021—∞ ·
		<a href="/ru/blog/">Блог</a> ·
		<a href='https://t.me/ivandianov'>Канал в телеге</a> про генеративный арт, алгоритмы и жизнь
		{%- else -%}
		© <a href="/">Ivan Dianov</a> 2021—∞ ·
    <a href='https://twitter.com/i_dianov'>Twitter</a> ·
		<a href='https://www.artblocks.io/collections/presents/projects/0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270/263'>Art Blocks</a> ·
		<a href='https://objkt.com/profile/ivandianov/created'>Objkt</a> ·
		<a href='https://www.fxhash.xyz/u/Ivan%20Dianov'>Fxhash</a> ·
		{%- endif -%}
  </section>
</footer>
