<header>
  <div class="nav-menu">
    {# Имя/логотип #}
    <a class="nav-item" href="{{ '/' if lang == 'en' else '/ru/' }}">
      {{ 'Ivan Dianov' if lang == 'en' else 'Иван Дианов' }}
    </a>
    
    {# Пункты меню #}
    {% for item in collections.menu %}
      {% if lang == item.data.lang %}
        {% set isActive = item.url == page.url %}

        {% if item.data.menuTitle == 'Блог' or item.data.menuTitle == 'Blog' %}
          {% for post in collections.posts %}
            {% if post.url == page.url and post.data.lang == lang %}
              {% set isActive = true %}
            {% endif %}
          {% endfor %}
          {% if '/threads/' in page.inputPath %}
            {% set isActive = true %}
          {% endif %}
        {% endif %}

        <a class="nav-item{% if isActive %} nav-item-active{% endif %}"
           href="{{ item.url }}">
          {{ item.data.menuTitle }}
        </a>
      {% endif %}
    {% endfor %}
    
    {# Переключатель языка #}
    {% set otherLang = 'ru' if lang == 'en' else 'en' %}
    {% set otherUrl = collections.all | getTranslationUrl(page, otherLang) %}
    <a class="nav-item" href="{{ otherUrl }}">{{ otherLang | upper }}</a>
  </div>
</header>