<header>
  <div class="nav-menu">
    {# Имя/логотип #}
    <a class="nav-item" href="{{ '/' if lang == 'en' else '/ru/' }}">
      {{ 'Ivan Dianov' if lang == 'en' else 'Иван Дианов' }}
    </a>
    
    {# Пункты меню #}
    {% for item in collections.menu %}
      {% if lang == item.data.lang %}
        <a class="nav-item{% if item.url == page.url %} nav-item-active{% endif %}" 
           href="{{ item.url }}">
          {{ item.data.menuTitle }}
        </a>
      {% endif %}
    {% endfor %}
    
    {# Переключатель языка - простая логика #}
    {% set otherLang = 'ru' if lang == 'en' else 'en' %}
    {% set otherUrl = page.url | replace('/' + lang + '/', '/') if lang == 'ru' else '/ru' + page.url %}
    
    {# Проверяем, существует ли перевод #}
    {% set translationExists = false %}
    {% for p in collections.all %}
      {% if p.fileSlug == page.fileSlug and p.data.lang == otherLang %}
        {% set translationExists = true %}
        {% set otherUrl = p.url %}
      {% endif %}
    {% endfor %}
    
    {# Если перевода нет - ведем на главную #}
    {% if not translationExists %}
      {% set otherUrl = '/' if otherLang == 'en' else '/ru/' %}
    {% endif %}
    
    <a class="nav-item" href="{{ otherUrl }}">
      {{ otherLang | upper }}
    </a>
  </div>
</header>