---
layout: default.njk
---

<article class="text" role="main">
    <div class="post-header">
		<div class='meta'>
    {% set post = page %}
		{% include "progress.njk" %}
    </div>
    <h1 class="post-name">{{ title }}</h1>
    </div>
    <section class="post-content">
        {{content | safe}}
    </section>
</article>

{% include "comments.njk" %}
