---
layout: default.njk
---

<article class="thread-index">
  <div class="meta">
    <span class="progress" style="--progress: 360deg;"></span> {{ i18n[lang].thread }}
  </div>

  <h1>{{ title }}</h1>

  {% if content %}
  <div class="thread-description">
    {{ content | safe }}
  </div>
  {% endif %}

  <hr>

  <div class="thread-feed">
    {%- set collectionName = "thread" + (threadName | capitalize) -%}
    {%- if lang == "en" -%}
      {%- set collectionName = collectionName + "En" -%}
    {%- endif -%}

    {% for post in collections[collectionName] %}
    <article class="thread-feed-item">
      {% if post.data.date %}
      <div class="meta">
        <a href="{{ post.url }}" class="time">
          {{ post.data.date.toISOString().split('T')[0] }}
        </a>
      </div>
      {% endif %}

      {% if post.data.title %}
      <h2>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      {% endif %}

      {% if post.data.images %}
        {% for img in post.data.images %}
        <img src="{{ img }}" class="thread-image" alt="" loading="lazy">
        {% endfor %}
      {% endif %}

      {% if post.data.videos %}
        {% for vid in post.data.videos %}
        <video controls muted loop preload="auto" class="thread-video">
          <source src="{{ vid }}" type="video/mp4">
        </video>
        {% endfor %}
      {% endif %}

      <div class="thread-content">
        {{ post.templateContent | safe }}
      </div>
    </article>
    {% if not loop.last %}<hr>{% endif %}
    {% endfor %}
  </div>

</article>
