---
layout: default.njk
---

<article class="thread-post">
  {%- set threadName = threadName or "gcode" -%}
  {%- set allPosts = collections["thread" + (threadName | capitalize)] -%}
  {%- set currentIndex = -1 -%}
  {%- for post in allPosts -%}
    {%- if post.url == page.url -%}
      {%- set currentIndex = loop.index0 -%}
    {%- endif -%}
  {%- endfor -%}
  
  {# Найти родительский тред-пост для получения его title #}
  {%- set threadPost = null -%}
  {%- for post in collections.posts -%}
    {%- if post.data.threadName == threadName and post.data.lang == lang -%}
      {%- set threadPost = post -%}
    {%- endif -%}
  {%- endfor -%}
  {%- set threadTitle = threadPost.data.title if threadPost else (threadName | upper) -%}
  
  {# Построить URL треда #}
  {%- set threadUrl = "/" -%}
  {%- if lang == 'ru' -%}
    {%- set threadUrl = threadUrl + "ru/" -%}
  {%- endif -%}
  {%- set threadUrl = threadUrl + "threads/" + threadName + "/" -%}
  
  <h1>
    <a href="{{ threadUrl }}">{{ threadTitle | upper }}</a>
    →
    {% if title %}
      {{ title }}
    {% elif date %}
      {{ date.toISOString().split('T')[0] }}
    {% else %}
      U・ᴥ・U
    {% endif %}
  </h1>

  {% if date %}
  <div class="meta">
    <a href="{{ page.url }}" class="time">{{ date.toISOString().split('T')[0] }}</a>
  </div>
  {% endif %}

  {% if images %}
    {% for img in images %}
    <img src="{{ img }}" class="thread-image" alt="" loading="lazy">
    {% endfor %}
  {% endif %}

  <div class="thread-content">
    {{ content | safe }}
  </div>
</article>
