---
title: Blog
url: /
menu: 0
---

<h1>Blog</h1>

{% include "templates/posts.njk" %}


 {# <div class="project-grid"> #}
{# {% assign items = site.projects | sort: 'date' %}
{% for item in items reversed %}

    <div class="project-item">
      <img src="{{item.img-url}}">
      <span>{{item.title}}</span>
    </div>
    {% endfor %}
  </div>
     #}