---
menuTitle: Blog
menu: 15
lang: en
---

<h1>Blog</h1>
<p>Posts in various stages of completion — some are rough drafts, others are nearly finished. Check the icons next to the titles for hints.</p>

{% include "posts.njk" %}


{# <div class="project-grid"> #}
{# {% assign items = site.projects | sort: 'date' %}
{% for item in items reversed %}

    <div class="project-item">
      <img src="{{item.img-url}}">
      <span>{{item.title}}</span>
    </div>
    {% endfor %}
  </div>
#}
