---
layout: layouts/default.njk
---


<article class="text" role="main">
    <div class="post-header">
    <h1 class="post-name">{{ title }}</h1>
    </div>
    <section class="post-content">
        {{content | safe}}
    </section>
</article>